.contLogin{
    display: grid;
    margin: auto;
    justify-items: center;
    width: 400px;
    border: 2px solid;
    border-radius: 15px;
    border-color: #962929;
    padding-bottom: 40px;
    row-gap: 20px;
}
.contIma{
    height: 350px;
    border: 3px #772727;
}
.inputsLogin{
    display: grid;
    justify-items: center;
    row-gap: 25px;
}
.buttonLogin{
    
    justify-items: center;
}